.contact-us{
    background: url("../../images/contact-us-bg.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.contact-form{
    margin-left: 20px;
}
.contact-form input{
    margin-top: 30px;
    padding: 5px;
    width: 300px;
    border: 1px solid lightsalmon;
    border-radius: 25px;
}
.error{
color: red;
}